django
djangorestframework
drf-yasg
djangorestframework-simplejwt
django-cors-headers
django-simple-history
Pillow
django-filter
pytest
pytest-django
pytest-cov
pytest-mock
pytest-xdist
pytest-benchmark
pytest-httpserver
factory-boy
responses
django-silk
django-cloudinary-storage
django-environ
whitenoise
gunicorn
coverage
redis
django-redis
celery
django-celery-beat
django-ratelimit
bandit
flake8
black
isort
mypy
django-stubs
pre-commit
locust
django-debug-toolbar
sentry-sdk
structlog
django-extensions
gevent
psycopg2-binary
django-tenants